#contactform{
	height: 100%;
	width: 70%;
	padding: 0;
	margin: 5px;
}
#contactother{
	height: 100%;
	width: 30%;
	margin: 10px 0 0 20px;
	text-align: center;
}
#contactother h6{
	font-size: 1.3em;
}
#contact-page{
	height: auto;
	width: 100%;
	display: flex;
	flex-flow: row;
}
#contactform fieldset{
	height: auto;
	width: 100%;
	display: flex;
	flex-flow: column;
	padding: 10px 0 10px 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	border: groove 2px rgba(54,71,82,0.6);
	-moz-border: groove 2px rgba(54,71,82,0.6)!important;
}
#contactdetails{
	margin-left: 10%;
}
#contactdetails .titlecontacts{
	font-size: 1.2em;
	text-shadow: 0 0 2px rgba(54,71,82,0.6);
}

#mapid {
	align-content: center;
	border: solid 3px black;
	width: 560px;
	height: 230px;
	border-radius:3%;
	margin-left: 20px;

}