tr:nth-child(2n) td:nth-child(2n+1), tr:nth-child(2n+1) td:nth-child(2n){
	width: 60px;
	height: 60px;
	background-color: #7a93bc;
}

table, td {
	border: 20px solid #1e5abc;
	border-collapse: collapse;
}